body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    text-align: center;
}

li {
    display: inline;
}

    li a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        padding: 10px;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: steelblue;
        }

.img-circle {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}